@font-face {
  font-family: "Bartender";
  src: url("/Fonts/Bartender.woff") format("woff");
}

@font-face {
  font-family: "BartenderShadow";
  src: url("/Fonts/Bartender_Shadow.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgb(0, 0, 0);
  overflow-x: hidden;
  position: relative;
}
header {
  font-size: 1.6rem;
  background: #000000;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-bottom: 20px;
  font-family: "Montserrat";
}

main {
  position: relative;
  margin: 0 0 20px 0;
  font-family: "Montserrat";
}

/* --------- PRELOADER HOME-MENU ------------ */

.preloader2 {
  position: fixed;
  will-change: transform;
  top: 0;
  left: -100%;
  bottom: 0;
  right: 0;
  background: black;
  z-index: 10000;
  overflow: hidden;
  opacity: 0;
  display: block;
  height: 100%;
  max-width: 100%;
  transition: transform 0.5s ease-in, left 0.5s ease-out;
  pointer-events: none !important;
  text-align: center;
}

.preloader2 .loading-bar p {
  display: block;
  font-family: "Bartender";
  font-size: 2.2rem;
  letter-spacing: 1px;
  color: rgb(182, 112, 27);
  margin-bottom: 20px;
  /* padding-left: 60px; */
}
.loading-dots {
  display: inline-block;
  font-size: 2rem;
  animation: dots 1.4s infinite;
  opacity: 0;
  padding-left: 10px;
}
@media screen and (max-width: 400px) {
  .loading-dots {
    font-size: 1.2rem;
  }
  .preloader2 .loading-bar p {
    display: block;
    font-family: "Bartender";
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: rgb(182, 112, 27);
    margin-bottom: 20px;
  }
}
.loading-dots:nth-child(1) {
  animation-delay: 0.4s;
}

.loading-dots:nth-child(2) {
  animation-delay: 0.8s;
}

.loading-dots:nth-child(3) {
  animation-delay: 1.2s;
}

@keyframes dots {
  30% {
    -webkit-transform: translateY(-5px) scale(1.9);
    transform: translateY(-5px) scale(1.9);
    opacity: 1;
    text-shadow: 0 15px 10px black;
  }
  48% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 0;
  }
}

.loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 400px;
  height: 160px;
}
@media screen and (max-width: 420px) {
  .loading-bar {
    max-width: 340px;
  }
}

@media screen and (max-width: 350px) {
  .loading-bar {
    max-width: 260px;
  }
}

.loading-bar img {
  margin-right: 40px;
}

#preloader2.active {
  left: 0;
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.5s ease-out, left 0.5s ease-out;
  pointer-events: none !important;
}

#preloader2.inactive2 {
  left: 100%; /* Move preloader off-screen right */
  opacity: 1;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-out, left 0.3s ease-out;
  pointer-events: none !important;
}

/* --- circles sun effect --- */

/* .circle {
  width: 200px;
  height: 200px;
  background-color: rgb(201, 138, 13);
  border-radius: 50%;
  position: absolute;
  left: -20px;
  top: 650px;
  filter: blur(100px);
  z-index: -10;
}
.circle2 {
  width: 80px;
  height: 80px;
  background-color: rgb(201, 138, 13);
  border-radius: 50%;
  position: absolute;
  left: 250px;
  top: 1200px;
  filter: blur(60px);
  z-index: -10;
}

.circle3 {
  width: 80px;
  height: 80px;
  background-color: rgb(201, 138, 13);
  border-radius: 50%;
  position: absolute;
  right: 250px;
  top: 1000px;
  filter: blur(60px);
  z-index: -10;
}

.circle4 {
  width: 150px;
  height: 150px;
  background-color: rgb(201, 138, 13);
  border-radius: 50%;
  position: absolute;
  right: -20px;
  bottom: 1650px;
  filter: blur(100px);
  z-index: -10;
} */

/* --- HOME PAGE --- */
#home-page {
  transition: opacity 1s ease-in-out;
}
/* ---------------Header (menu , logo)----------------------- */
.menu-logo {
  position: relative;
  display: flex;
  /* align-items: flex-end; */
  padding-bottom: 5px;
}
@media screen and (max-width: 870px) {
  .menu-logo {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
}

.logo {
  position: relative;
  margin-top: 6px;
  margin-left: 35px;
  border-radius: 10px;
}
@media screen and (max-width: 870px) {
  .logo {
    margin-right: 35px;
    margin-top: 6px;
    border-radius: 10px;
  }
}

.logo img {
  position: relative;
  height: 250px;
  border-radius: 10px;
}
@media screen and (max-width: 870px) {
  .logo img {
    height: 120px;
  }
}
.menu {
  position: absolute;
  right: 0;
  margin-top: 25px;
  margin-right: 70px;
}

@media screen and (max-width: 870px) {
  .menu {
    display: none;
  }
}
.menu-list li {
  display: inline-block;
  list-style: none;
}
#menu > ul > li:nth-child(1) > a {
  color: rgb(220, 159, 85);
}
#menu > ul > li:nth-child(2) > a {
  color: rgb(229, 203, 172);
}
.menu-list li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 15px;
}

/* --- Order Button --- */
.glow-on-hover {
  width: 220px;
  height: 50px;
  border: none;
  outline: none;
  color: rgb(229, 203, 172);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: #de720c;
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(10px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* --------- MAIN - TITLE ---- */

.main-title {
  position: relative;
  text-align: center;
  margin: 20px 10px 80px 10px;
}
.main-title p {
  font-family: "bartender";
  font-size: 5rem;
  color: rgb(217, 149, 66);
  padding-top: 150px;
}
@media screen and (max-width: 500px) {
  .main-title p {
    font-size: 2.5rem;
    padding-top: 50px;
  }
}
/* --------- ABOUT ----- */
.about {
  position: relative;
  width: 100%;
  text-align: center;
}
.halfbox-text {
  position: relative;
  height: 500px;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}
.halfbox-text p {
  color: rgb(229, 203, 172);
  text-align: center;
  font-size: 1.1rem;
}
@media screen and (max-width: 800px) {
  .halfbox-text {
    height: auto;
    width: 100%;
    padding: 40px 0;
  }
}
.halfbox-pic {
  position: relative;
  height: 500px;
  width: 50%;
}
@media screen and (max-width: 800px) {
  .halfbox-pic {
    width: 100%;
    height: 550px;
  }
}
@media screen and (max-width: 576px) {
  .halfbox-pic {
    width: 100%;
    height: 300px;
  }
}
.right {
  background: url(/images/Inside.jpg) center;
  background-size: cover;
  float: right;
}
.left {
  float: left;
}
h1 {
  line-height: 50px;
  margin-bottom: 35px;
  padding: 0 10px;
  letter-spacing: 1px;
  color: rgb(220, 159, 85);
  font-family: "Bartender";
}

.info-box {
  max-width: 550px;
  margin: auto;
  padding: 0 20px;
}
@media screen and (max-width: 470px) {
  .info-box {
    width: 340px;
  }
  h1 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: 1.8rem;
  }
}
.info-logo img {
  height: 100px;
  margin: 15px;
}
#content > section.home-page > div:nth-child(4) > div.right.halfbox-pic {
  background: url(/images/Burger2.jpg) center;
  background-size: cover;
  float: left;
}

.clear {
  clear: both;
}

.title {
  /* position: absolute; */
  text-align: center;
  margin-top: 200px;
}

.title p {
  font-size: 5rem;
  font-family: "Bartender";
  color: rgb(197, 118, 27);
}
@media screen and (max-width: 768px) {
  .title p {
    font-size: 2rem;
  }
}

.title2 {
  text-align: center;
  margin-bottom: 100px;
}
.title2 p {
  font-size: 5rem;
  font-family: "Bartender";
  color: rgb(197, 118, 27);
}
@media screen and (max-width: 768px) {
  .title2 p {
    font-size: 2rem;
  }
}
/* ---- CAROUSEL ------ */


.carousel-slider {
  position: relative;
  box-shadow: 0 0 50px rgb(156, 97, 2);
  margin: 0 0 100px 0;
  border-radius: 20px;
  z-index: 0;
}

.carousel-item img {
  display: block;
  border-radius: 20px;
  /* height: 700px; */
}







.three-logo {
  display: flex;
  justify-content: center;
}

.three img {
  height: auto;
  max-width: 100%;
  margin-top: -60px;
  margin-bottom: 100px;
}
@media screen and (max-width: 870px) {
  .three img {
    margin-top: 80px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .three img {
    margin-top: 40px;
    margin-bottom: 0;
  }
}

.image-effect {
  display: flex;
  justify-content: center;
}

.image-effect img {
  max-width: 100%;
  height: auto;
  padding-bottom: 150px;
  padding-top: 150px;
}

/* ---------------------- FOOD MENU ---------------------- */

#food-panel {
  transition: opacity 1s ease-in-out;
}

.menu-products {
  display: flex;
}
@media screen and (max-width: 991px) {
  .menu-products {
    display: block;
    text-align: center;
  }
}
/* ----left side of the menu ---- */
#food-panel .nav-link {
  padding-bottom: 0.85rem;
  display: flex;
}

.leftt {
  position: relative;
  background: transparent;
}
@media screen and (max-width: 991px) {
  .leftt {
    display: none;
  }
}

.menu-navigation {
  list-style: none;
  padding: 0;
  position: sticky;
  top: 185px;
  z-index: 900;
}
@media screen and (max-width: 1540px) {
  .menu-navigation {
    overflow-y: scroll;
    max-height: calc(100vh - 185px);
  }
}

.menu-navigation::-webkit-scrollbar {
  width: 12px;
}
.menu-navigation::-webkit-scrollbar-track {
  background: transparent;
}
.menu-navigation::-webkit-scrollbar-thumb {
  background-color: #975003;
  border-radius: 10px;
  position: relative;
}
.menu-navigation::-webkit-scrollbar-thumb:hover {
  background-color: #985c1c;
}

.menu-navigation label {
  margin-bottom: 10px;
}
.menu-navigation label:nth-child(1) > span {
  font-size: 1.8rem;
  color: #8b2804;
  padding-right: 10px;
}
.menu-navigation label:nth-child(2) > span {
  font-size: 1.8rem;
  color: #0e9107;
}
@media screen and (max-width: 1400px) {
  .menu-navigation label:nth-child(1) > span {
    font-size: 1.3rem;
  }
  .menu-navigation label:nth-child(2) > span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1200px) {
  .menu-navigation label:nth-child(1) > span {
    font-size: 1.2rem;
  }
  .menu-navigation label:nth-child(2) > span {
    font-size: 1.2rem;
  }
}

.menu-navigation label img {
  margin-bottom: 20px;
}

.menu-navigation span {
  font-size: 1.5rem;
  color: #dba872;
  padding-top: 5px;
}
#food-panel
  > div
  > div.leftt.col-md-4.col-lg-3
  > ul
  > li:nth-child(9)
  > a
  > span {
  padding-top: 0;
}
#food-panel
  > div
  > div.leftt.col-md-4.col-lg-3
  > ul
  > li:nth-child(10)
  > a
  > span {
  padding-top: 0;
}
@media screen and (max-width: 1400px) {
  .menu-navigation span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 1200px) {
  .menu-navigation span {
    font-size: 1.2rem;
  }
}
/* --- right side of the menu ---  */

.rightt {
  position: relative;
  padding-top: 60px;
  padding-left: 20px;
  background: transparent !important;
}

.big-card {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 100px;
  /* justify-content: center; */
  /* align-items: center; */
  margin-top: 50px;
  margin-left: 50px;
}
@media screen and (max-width: 991px) {
  .big-card {
    margin-left: 0;
  }
}

@media screen and (max-width: 991px) {
  .big-card {
    gap: 0;
  }
}
@media screen and (max-width: 577px) {
  .big-card {
    justify-content: center;
  }
}
/* --- Veggie Products Card--- */
.big-cardV {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 50px;
  border-bottom: 2px dotted #dba872;
}
@media screen and (max-width: 991px) {
  .big-cardV {
    margin-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .big-cardV {
    gap: 0;
  }
}
#veggie-title {
  padding: 5px 5px 5px 55px;
  margin-top: 20px;
  font-size: 3.5rem;
  color: #dba872;
  font-family: "Bartender";
  letter-spacing: 2px;
}

/* --- Spicy products card ---- */
.big-cardS {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-bottom: 100px;
  margin-top: 50px;
  margin-left: 50px;
  border-bottom: 2px dotted #dba872;
}
@media screen and (max-width: 991px) {
  .big-cardS {
    margin-left: 0;
  }
}
@media screen and (max-width: 991px) {
  .big-cardS {
    gap: 0;
  }
}
#spicy-title {
  /* display: none; */
  padding: 5px 5px 5px 55px;
  margin-top: 20px;
  font-size: 3.5rem;
  color: #dba872;
  font-family: "Bartender";
  letter-spacing: 2px;
}

.card {
  text-align: center;
  margin-bottom: 5px;
  background: transparent;
  padding-bottom: 20px;
  border: none !important;
}
@media screen and (max-width: 991px) {
  .card {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media screen and (max-width: 1200px) {
  .card-body {
    padding: 3px;
    padding-top: 10px;
  }
}
.card-text {
  color: #dec1a2;
  font-size: 0.9rem;
}
.card-title {
  color: #be884d;
}
@media screen and (max-width: 1200px) {
  .card-title {
    font-size: 1.1rem;
  }
}

.big-card-title {
  padding: 5px 5px 5px 55px;
  margin-top: 20px;
  font-size: 3.5rem;
  color: #dba872;
  font-family: "Bartender";
  letter-spacing: 2px;
}

@media screen and (max-width: 991px) {
  .big-card-title {
    padding: 0;
  }
}
.big-card-title i {
  font-size: 3rem;
  color: #de720c;
}

.btn {
  background-color: #dba872;
  color: black;
  font-size: 1.2rem;
  pointer-events: none;
  position: relative;
}

/* ---- COLLAPSIBLE MENU PRODUCTS ---- */
.select-menu {
  display: none;
}
.select-menu .options {
  display: none;
}
@media screen and (max-width: 991px) {
  .select-menu {
    position: sticky;
    top: 180px;
    /* width: 280px; */
    max-width: 230px;
    margin: 20px auto 20px auto;
    text-align: center;
    z-index: 10;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
    display: block;
  }
  .select-menu .select-btn {
    display: flex;
    height: 55px;
    background: #0f0e0e;
    color: #be884d;
    padding: 10px;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }

  .select-menu .options .nav-link {
    padding-bottom: 10px;
  }

  .sBtn-text {
    font-size: 1.1rem;
  }

  .select-menu .options {
    position: absolute;
    width: 230px;
    overflow-y: auto;
    max-height: 295px;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background: #0f0e0e;
    color: #be884d;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation-name: fadeInDown;
    -webkit-animation-name: fadeInDown;
    animation-duration: 0.35s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
    font-size: 1.2rem;
  }

  .select-menu.active .options {
    display: block;
    opacity: 0;
    z-index: 10;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-fill-mode: both;
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
  }

  @keyframes fadeInUp {
    from {
      transform: translate3d(0, 30px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }
  @keyframes fadeInDown {
    from {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
    to {
      transform: translate3d(0, 20px, 0);
      opacity: 0;
    }
  }
}

/* -------------------------------------------------------- Footer --------------------------------------------------------------- */

footer {
  background-color: #c08e58;
}

i {
  color: #ffc371;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.form-control.shadow-0:focus {
  box-shadow: none;
}



.text-muted {
  list-style: none;
  text-decoration: none !important;
  color: black !important;
}
.list-unstyled {
  color: black !important;
}

.text-uppercase {
  padding-top: 30px;
  color: black !important;
}

.fa-regular,
.fa-solid,
.fa {
  color: black;
}

/* ---------------------------------- PRELOADER------------------------------------------------ */
#preloader-section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Preloader */
.ctn-preloader {
  -webkit-box-align: center;
  align-items: center;
  display: -webkit-box;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.ctn-preloader .animation-preloader {
  position: absolute;
  z-index: 100;
}

/* Spinner loading */
.ctn-preloader .animation-preloader .spinner {
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-top-color: #000000;
  height: 9em;
  margin: 0 auto 3.5em auto;
  width: 9em;
}

/* Text Loading */
.ctn-preloader .animation-preloader .txt-loading {
  font: bold 5em "Montserrat", sans-serif;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite;
  color: #000000;
  content: attr(data-text-preloader);
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  color: rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Letters Animation */
.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(9):before {
  -webkit-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(10):before {
  -webkit-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(11):before {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(12):before {
  -webkit-animation-delay: 2.2s;
  animation-delay: 2.2s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(13):before {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(14):before {
  -webkit-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(15):before {
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

.ctn-preloader
  .animation-preloader
  .txt-loading
  .letters-loading:nth-child(16):before {
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

/* Loader section Settings */
.ctn-preloader .loader-section {
  background-color: #ffffff;
  height: 100%;
  position: fixed;
  top: 0;
  width: calc(50% + 1px);
}

.ctn-preloader .loader-section.section-left {
  left: 0;
}

.ctn-preloader .loader-section.section-right {
  right: 0;
}

/* Fade effect in loading animation */
.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

/* Curtain effect */
.loaded .loader-section.section-left {
  -webkit-transform: translateX(-101%);
  transform: translateX(-101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2);
}

.loaded .loader-section.section-right {
  -webkit-transform: translateX(101%);
  transform: translateX(101%);
  -webkit-transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2);
  transition: 3.5s 0.1s all cubic-bezier(0.1, 0.1, 0.1, 2);
}

/* Preloader Animation */
@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}

/* Animation of the letters loading from the preloader */
@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg);
  }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
}
@media screen and (max-width: 980px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  /* Text Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 4em "Montserrat", sans-serif;
  }
}

/* laptop size (laptop, tablet, cell phone) */
@media screen and (max-width: 780px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em;
  }

  /* Text Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 2.2em "Montserrat", sans-serif;
  }
}
@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em;
  }

  /* Text Loading */
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 1.3em "Montserrat", sans-serif;
  }
}

.inactive {
  display: none !important;
}
.invisible {
  visibility: hidden;
}

.smooth {
  opacity: 0;
}

.wrapper {
  overflow: hidden;
}

.wrapper section {
  padding: 10px 30px 30px 80px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  margin: 0 0 0 -250px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */
  z-index: 100;
}
nav ul {
  width: 200px;
  height: 100%;
  padding: 0 0 0 50px;
  margin: 0;
  list-style: none;
  background: #caa989;
  overflow: hidden;
}
nav li {
  margin: 0;
}
nav a {
  color: #000000;
  font-size: 1em;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-weight: 400;
  text-decoration: none;
  display: block;
  padding: 12px 15px;
  font-weight: 300;
  letter-spacing: 2px;
}
nav a:hover {
  background: #eaebed;
}
.wrapper label {
  display: block;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  text-align: center;
  font-size: 2em;
  line-height: 1.1em;
  position: fixed;
  top: 40px;
  left: 40px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -o-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55); /* easeInOutBack */
  z-index: 500;
}
.wrapper input[type="checkbox"] {
  display: none;
}
.wrapper input[type="checkbox"]:checked ~ nav {
  margin: 0 0 0 -50px;
}
.wrapper input[type="checkbox"]:checked ~ label {
  left: 210px;
}
.wrapper input[type="checkbox"]:checked ~ section {
  -webkit-transform: translate3d(210px, 0, 0);
  -moz-transform: translate3d(210px, 0, 0);
  -o-transform: translate3d(210px, 0, 0);
  transform: translate3d(210px, 0, 0);
}
svg {
  transform: scale(1.5);
}
.fa {
  color: #a94f05;
  padding: 10px 20px 10px 10px;
}
#chips {
  position: absolute;
  margin-left: -50px;
  margin-top: 15px;
}
#burger {
  display: block;
}

.burger-title {
  margin-top: 5px;
  margin-left: -35px;
}
